// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: url("shuffleTest.png") no-repeat 0 0;

#header #utility_nav {
  background-color: #ecf0f1 !important;
}

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@media print {
  h1, h3, div.panel_contents th, .comments, #sidebar {
    display:none;
  }
  #title_bar h2, h2 {
    line-height: 100%;
    margin: 0;
  }
  #active_admin_content, .panel {
    border:0px;
  }
  #active_admin_content:before {
    content: "Name _____________________________";
  }
  div.panel_contents table {
    counter-reset: questions;
  }
  div.panel_contents td.col.col-text {
    display: block;
    padding-left: 30px;
    background: #fff;
    position: relative;
    border: 0px;
  }
  div.panel_contents td.col.col-text:before {
    content: counter(questions);
    counter-increment: questions;
    position: absolute;
    left: 5px;
    top: 5px;
    font: bold 25px/1 sans-serif;
  }
  div.panel_contents td.col.col-provided {
    display: block;
    background: #fff;
    white-space: pre;
    border: 0px;    
    padding: 20px 0 20px 30px;
  }
} 
